<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand">CodeFliX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item" *ngIf="authenticated">
                    <a class="nav-link" routerLink="/modulos">Módulos</a>
                </li>
                <li class="nav-item" *ngIf="authenticated">
                    <a class="nav-link" routerLink="/aulas">Aulas</a>
                </li>
            </ul>
            <div class="col-md-3 text-end" *ngIf="!authenticated">
                <button routerLink="/login" type="button" class="btn btn-outline-light me-2 text-uppercase">Entrar</button>
                <button routerLink="/register" type="button" class="btn btn-light text-uppercase">Cadastrar</button>
            </div>
            <div class="col-md-3 text-end" *ngIf="authenticated">
                <button type="button" class="btn btn-outline-light me-2 text-uppercase" (click)="logout()">Sair</button>
            </div>
        </div>
    </div>
</nav>