[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-environ = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "*"

[dev-packages]
pycodestyle = "*"

[requires]
python_version = "3.10"
