<main class="container">
    <h2 class="pb-2 border-bottom">Modulos disponíveis</h2>

    <div class="row">
        <div *ngFor="let item of module" class="col-sm-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title pd-2 border-bottom">{{ item.name }}</h3>
                    <p class="card-text p-2">{{ item.description.slice(0,150) }}...</p>
                    <a (click)="moduleDetail(item.id)" class="btn btn-outline-dark text-uppercase">Detalhar</a>
                </div>
            </div>
        </div>
    </div>
</main>