<form>
    <h1 class="h3 mb-3 text-center">Faça seu cadastro</h1>

    <div class="form-floating">
        <input type="text" class="form-control" placeholder="Digite seu nome ...">
        <label for="floatingInput">Nome</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" placeholder="Digite seu nome sobrenome ...">
        <label for="floatingInput">Sobrenome</label>
    </div>
    <div class="form-floating">
        <input type="email" class="form-control" placeholder="name@example.com">
        <label for="floatingInput">E-mail</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" placeholder="Digite sua senha ...">
        <label for="floatingPassword">Senha</label>
    </div>

    <button class="btn btn-lg btn-primary w-100 mt-4 text-uppercase" type="submit">Cadastrar</button>
</form>