<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">
            <div *ngIf="message" class="alert alert-{{ type }} mt-2 text-center" role="alert">
                {{ message }}
            </div>
            <form [formGroup]="form" (submit)="submit()" class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="form-floating mb-3">
                    <input formControlName="username" type="text" class="form-control"
                        placeholder="Nome de usuário">
                    <label for="floatingInput">Nome de usuário</label>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="email" type="email" class="form-control"
                        placeholder="E-mail">
                    <label for="floatingInput">E-mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="password" type="password" class="form-control"
                        placeholder="Senha">
                    <label for="floatingPassword">Senha</label>
                </div>
                <button class="w-100 btn btn-lg btn-dark text-uppercase" type="submit">Cadastrar</button>
                <hr class="my-4">
                <small class="text-muted">Já tem cadastro? <a class="link" routerLink="/login">Click
                        aqui</a></small>
            </form>
        </div>
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Faça seu cadastro!</h1>
            <p class="col-lg-10 fs-4">Preencha seus dados rapidamente e tenha acesso a todos os recursos da aplicação.</p>
        </div>
    </div>
</div>